/* Общие стили для страницы */
body {
  font-family: Arial, sans-serif;
  margin: 50px;
  padding: 100px;
  background: linear-gradient(
    to bottom,
    #2eab2e,
    #4e4376
  ); /* Градиентный фон с измененными цветами */
}

/* Стили заголовка */
header {
  text-align: center;
  padding: 20px;
  background-color: #4caf4f00;
  color: #fff;
}

/* Стили контейнера для вкладок */
.tabs-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 800px;
}

/* Стили для каждой вкладки (вход и регистрация) */
.tab {
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
}

/* Стили для формы входа и регистрации */
form {
  margin-top: 20px; /* Отступ между формой и заголовком */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Цвет текста меток */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 0 solid #ccc; /* Подсветка границы поля ввода */
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Стили для кнопок */
button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Стили для волнующего элемента */
.wave {
  width: 100%;
  height: 100px; /* Высота волны */
  background-image: url("wave.svg"); /* Фоновое изображение с волной */
  background-repeat: repeat-x;
  background-position: bottom;
}

/* Другие стили вашего контента остаются неизменными */

/* Стили для подвала */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Стили Flat Design */
h1,
h2 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #4caf50;
  background-color: #f0f0f0;
  color: #333;
  transition: border-bottom 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #45a049;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  position: relative; /* Добавлено для позиционирования волнующего элемента */
  text-align: center;
  padding: 10px;
  background-color: #4caf4f00;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
