/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #45a049;
}


/* Стили для разделов входа и регистрации */
.login, .register {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
    max-width: 400px;
}

/* Стили для кнопок */
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
}

button:hover {
    background-color: #45a049;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Стили Flat Design */
h1, h2 {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid #4CAF50;
    background-color: #f0f0f0;
    color: #333;
    transition: border-bottom 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
